* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  pad: 15 auto;
}

// color
$c0-light: #fff;
$c0-primary: #2a73dd;
$c1-primary: #73bcf3;
$c0-dark: #000;
$c0-secondary: #656774;
$c1-secondary: #abb8c3;
$c0-pink: #f78da7;
$c1-pink: #b61984;
$c1-dark: #181818;
// background-color
$bg0-primary: #2a73dd;
$bg0-light: #fff;
$bg1-light: #f5f9fe;
$bg2-light: #f5f9fe;
$bg0-pink: #b61984;
// font-size
$text-base: 16px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;
$text-7xl: 70px;
$text-8xl: 80px;
// font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
// boder color
$bd-c0-primary: #2a73dd;
//khai báo hàm
@mixin text($fs: $text-base, $fw: $fw-regular, $c: $c0-dark) {
  font-size: $fs;
  font-weight: $fw;
  color: $c;
}

.header {
  background: url(../images/yellow_top_wave_01.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 200px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-logo {
      img {
        height: 90%;
        width: 90%;
      }
    }
    .header-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 45%;
      position: relative;
      transform: translateX(16%);
      a {
        text-decoration: none;
        @include text(13px, 600, $c0-dark);
      }
      .nav-home {
        .nav {
          a {
            position: relative;
            line-height: 80px;
            &::after {
              content: "";
              position: absolute;
              width: 0px;
              height: 0px;
              border-radius: 50%;
              background-color: $bg0-pink;
              bottom: 0;
              left: 40%;
              z-index: 3;
            }
            &:hover::after {
              width: 10px;
              height: 10px;
              transition: all 0.5s;
            }
          }
        }
        .home-list {
          position: absolute;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 20px;
          background-color: $bg0-light;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          width: 130%;
          padding: 20px;
          top: 0;
          left: 0;
          transform: translate(-45%, 30%);
          opacity: 0;
          z-index: 2;
          .col {
            .row {
              .item {
                display: flex;
                flex-direction: column;
                justify-content: left;
                line-height: 40px;
                a {
                  &:hover {
                    color: $c0-pink;
                    transition: all 0.5s;
                  }
                }
                .item-border {
                  border-bottom: solid $bg0-pink 2px;
                }
                .item-border1 {
                  border-bottom: solid $c1-secondary 1px;
                }
                .item-border2 {
                  border-bottom: solid $c1-secondary 2px;
                }
              }
            }
          }
        }
        &:hover {
          .home-list {
            opacity: 1;
            width: 130%;
            transition: all 0.5s;
          }
        }
      }
      .nav-about {
        .nav {
          a {
            position: relative;
            line-height: 80px;
            &::after {
              content: "";
              position: absolute;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: $bg0-pink;
              bottom: 0;
              left: 40%;
              z-index: 1;

            }
            &:hover::after {
              width: 10px;
              height: 10px;
              transition: all 0.5s;
            }
          }
        }
        .about-list {
          position: absolute;
          background-color: $bg0-light;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          width: 40%;
          padding: 10px 20px;
          top: 0;
          left: 0;
          opacity: 0;
          transform: translate(40%, 25%);
          .col {
            .row {
              .item {
                display: flex;
                flex-direction: column;
                justify-content: left;
                a {
                  line-height: 35px;
                  &:hover {
                    color: $c0-pink;
                    transition: all 0.5s;
                  }
                }
                .item-border {
                  border-bottom: solid $c1-secondary 1px;
                }
                .item-border1 {
                  border-bottom: solid $c1-secondary 2px;
                }
              }
            }
          }
        }
        &:hover {
          .about-list {
            opacity: 1;
            transition: all 0.5s;
          }
        }
      }
      .nav-course {
        .nav {
          a {
            position: relative;
            line-height: 80px;
            &::after {
              content: "";
              position: absolute;
              width: 0px;
              height: 0px;
              border-radius: 50%;
              background-color: $bg0-pink;
              bottom: 0;
              left: 40%;
              z-index: 1;
            }
            &:hover::after {
              width: 10px;
              height: 10px;
              transition: all 0.5s;
            }
          }
        }
        .course-list {
          position: absolute;
          background-color: $bg0-light;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          width: 40%;
          padding: 10px 20px;
          top: 0;
          left: 0;
          transform: translate(90%, 28%);
            opacity: 0;
          .col {
            .row {
              .item {
                display: flex;
                flex-direction: column;
                justify-content: left;
                a {
                  line-height: 40px;
                }
                .item-border {
                  border-bottom: solid $c1-secondary 1px;
                }
                .item-border1 {
                  border-bottom: solid $c1-secondary 2px;
                }
              }
            }
          }
        }
        &:hover {
            .course-list {
                opacity: 1;
                transition: all 0.5s;
            }

        }
      }
      .nav-blog {
        .nav {
          a {
            position: relative;
            line-height: 80px;
            &::after {
              content: "";
              position: absolute;
              width: 0px;
              height: 0px;
              border-radius: 50%;
              background-color: $bg0-pink;
              bottom: 0;
              left: 40%;
            }
            &:hover::after {
              width: 10px;
              height: 10px;
              transition: all 0.5s;
            }
          }
        }
        .blog-list {
        }
      }
      .nav-shop {
        .nav {
          a {
            position: relative;
            line-height: 80px;
            &::after {
              content: "";
              position: absolute;
              width: 0px;
              height: 0px;
              border-radius: 50%;
              background-color: $bg0-pink;
              bottom: 0;
              left: 40%;
            }
            &:hover::after {
              width: 10px;
              height: 10px;
              transition: all 0.5s;
            }
          }
        }
        .shop-list {
        }
      }
      .nav-element {
        .nav {
          a {
            position: relative;
            line-height: 80px;
            &::after {
              content: "";
              position: absolute;
              width: 0px;
              height: 0px;
              border-radius: 50%;
              background-color: $bg0-pink;
              bottom: 0;
              left: 40%;
            }
            &:hover::after {
              width: 10px;
              height: 10px;
              transition: all 0.5s;
            }
          }
        }
        .element-list {
        }
      }
    }
    .header-contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn-contact {
        margin-right: 20px;
        button {
          padding: 10px 30px;
          border: solid transparent 1px;
          border-radius: 20px;
          background-color: $bg0-pink;
          i {
            color: $c0-light;
            font-size: $text-base;
          }
          a {
            text-decoration: none;
            color: $c0-light;
            font-size: 15px;
          }
        }
      }
      .contact-icon {
        i {
          font-size: 13px;
          margin-right: 5px;
          &:hover {
            color: $c0-pink;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}

@keyframes dropNav {
  from {
  }
}
